@model TriatlonLogic.Models.Versenyzo

@{
	ViewData["Title"] = "Delete";
}

<br />
<h2><i class="bi bi-trash"></i> Versenyző törlése</h2>
<h3><i class="bi bi-exclamation-triangle"></i> Biztos, hogy törölni akarja a versenyzőt?</h3>
<hr />
<div>

	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nev)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nev)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nem)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nem)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SzulIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SzulIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Egyesulet)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Egyesulet)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Licence)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Licence)
		</dd>
	</dl>

	<form asp-action="Delete">
		<a class="btn btn-primary" asp-action="Index"><i class="bi bi-box-arrow-left"></i> </a>
		<input type="hidden" asp-for="OID" />
		<input type="submit" value="Törlés" class="btn btn-danger" />
	</form>
</div>
<br />
<br />