@model TriatlonLogic.Models.VersenyVersenyzo

@{
	ViewData["Title"] = "Delete";
}

<br />
<h2><i class="bi bi-trash"></i> Eredmény törlése</h2>
<h3><i class="bi bi-exclamation-triangle"></i> Biztos, hogy törölni szeretné?</h3>
<hr />
<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ChipKod)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ChipKod)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rajtszam)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rajtszam)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UszasIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UszasIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo1Ido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo1Ido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KerekparIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KerekparIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo2Ido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo2Ido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FutasIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FutasIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CelIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CelIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VersenyzoOID)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VersenyzoOID)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VersenyOID)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VersenyOID)
		</dd>
	</dl>

	<form asp-action="Delete">
		<a class="btn btn-primary" href='javascript:history.go(-1)'><i class="bi bi-box-arrow-left"></i> Vissza</a>
		<input type="hidden" asp-for="OID" id="oid" />
		<input type="hidden" asp-for="VersenyOID" />
		<input type="submit" value="Törlés" class="btn btn-danger" />
	</form>
</div>
<br />
<br />