@model TriatlonLogic.DataTransferObjects.EredmenyDisplayDto


@{
	ViewData["Title"] = "Részletek";
}

<br />
<h2><i class="bi bi-search"></i> Eredmény részletei</h2>
<hr />

<div>
	<h3><i class="bi bi-bar-chart-fill"></i><b>@Html.DisplayFor(model => model.VersenyNev)</b></h3>
</div>
<hr />

<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AbszolutHelyezes)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AbszolutHelyezes)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VersenyzoNev)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VersenyzoNev)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Egyesulet)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Egyesulet)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ChipKod)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ChipKod)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rajtszam)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rajtszam)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UszasIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UszasIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo1Ido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo1Ido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KerekparIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KerekparIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo2Ido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo2Ido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FutasIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FutasIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CelIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CelIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.RanglistaPont)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.RanglistaPont)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UszasHelyezes)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UszasHelyezes)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo1Helyezes)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo1Helyezes)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KerekparHelyezes)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KerekparHelyezes)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo2Helyezes)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo2Helyezes)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FutasHelyezes)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FutasHelyezes)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UszasSebesseg)
		</dt>
		<dd class="col-sm-10">
		    @Model.UszasSebesseg.ToString((@"mm\:ss"))
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KerekparSebesseg)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KerekparSebesseg)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FutasSebesseg)
		</dt>
		<dd class="col-sm-10">
			@Model.FutasSebesseg.ToString((@"mm\:ss"))
		</dd>

	</dl>
</div>
<div>
	<a class="btn btn-primary" href='javascript:history.go(-1)'><i class="bi bi-box-arrow-left"></i> Vissza</a>
	<a class="btn btn-primary" href='@Url.Action("Edit", new { oid = Model.OID })'><i class="bi bi-pencil-square"></i> Szerkesztés</a>
</div>
<br />
<br />