@model TriatlonLogic.DataTransferObjects.EredmenyDisplayDto


@{
	ViewData["Title"] = "Részletek";
}

<h1>Részletek</h1>

<div>
	<h4>Eredmények</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VersenyNev)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VersenyNev)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VersenyzoNev)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VersenyzoNev)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ChipKod)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ChipKod)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UszasIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UszasIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo1Ido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo1Ido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.KerekparIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.KerekparIdo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Depo2Ido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Depo2Ido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FutasIdo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FutasIdo)
		</dd>

	</dl>
</div>
<div>
	@Html.ActionLink("Szerkesztés", "Edit", new { oid = Model.OID }) |
	<a asp-action="Index">Vissza a listára</a>
</div>
