@model IEnumerable<TriatlonLogic.Models.VersenyVersenyzo>

@{ ViewData["Title"] = "Eredmények"; }

<br>
<h2><i class="bi bi-bar-chart-fill"></i>Eredmények</h2>
<br>

<p>
	<a type="button" asp-action="Create" class="btn btn-primary"><i class="bi bi-file-earmark-plus-fill"></i> Új eredmény</a>

	<div><b>Eredmények betöltése CSV fájlból: </b></div>
	@using (Html.BeginForm("Index", "Eredmeny", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="file" id="postedFile" name="postedFile" />
		<input type="submit" title="Upload" value="OK" />
	}
</p>
<hr />

<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.AbszolutHelyezes)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Versenyzo.Nev)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Versenyzo.Egyesulet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rajtszam)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ChipKod)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UszasIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depo1Ido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KerekparIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depo2Ido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FutasIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CelIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OID)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.AbszolutHelyezes)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Versenyzo.Nev)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Versenyzo.Egyesulet)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rajtszam)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ChipKod)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UszasIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Depo1Ido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.KerekparIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Depo2Ido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FutasIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CelIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OID)
			</td>
			<td>
				<i class="bi bi-search"> @Html.ActionLink("Részletek", "Details", new { oid = item.OID })</i>
				<i class="bi bi-clock"> @Html.ActionLink("Köridők", "List", "Korido", new { oid = item.OID })</i>
				<i class="bi bi-pencil-square"> @Html.ActionLink("Szerkesztés", "Edit", new { oid = item.OID })</i>
				<i class="bi bi-trash"> @Html.ActionLink("Törlés", "Delete", new { oid = item.OID })</i>
			</td>
		</tr>
		}
	</tbody>
</table>
<br />
<br />