@model IEnumerable<TriatlonLogic.Models.VersenyVersenyzo>

@{ ViewData["Title"] = "Eredmények"; }

<br>
<h2><i class="bi bi-bar-chart-fill"></i>Eredmények</h2>
<br>

<p>
	<a type="button" asp-action="Create" class="btn btn-primary"><i class="bi bi-file-earmark-plus-fill"></i> Új eredmény</a>

	<div><b>Eredmények betöltése CSV fájlból: </b></div>
	@using (Html.BeginForm("Index", "Eredmeny", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="file" id="postedFile" name="postedFile" />
		<input type="submit" title="Upload" value="OK" />
	}
</p>

<table class="table table-striped table-sm">
	<thead>
		<tr>
			@*Versenyző neve, egyesület*@
			<th>
				@Html.DisplayNameFor(model => model.VersenyOID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.VersenyzoOID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ChipKod)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rajtszam)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UszasIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depo1Ido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KerekparIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depo2Ido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FutasIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CelIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OID)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
<tr>
	@*Versenyző neve, egyesület*@
	<td>
		@Html.DisplayFor(modelItem => item.VersenyOID)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.VersenyzoOID)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.ChipKod)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Rajtszam)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.UszasIdo)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Depo1Ido)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.KerekparIdo)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Depo2Ido)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.FutasIdo)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.CelIdo)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.OID)
	</td>
	<td>
		@Html.ActionLink("Részletek", "Details", new { oid = item.OID })
		@Html.ActionLink("Köridők", "List", "Korido", new { oid = item.OID })
		@Html.ActionLink("Szerkesztés", "Edit", new { oid = item.OID })
		@Html.ActionLink("Törlés", "Delete", new { oid = item.OID })
	</td>
</tr>}
	</tbody>
</table>
