@model IEnumerable<TriatlonLogic.DataTransferObjects.EredmenyDisplayDto>

@{
	ViewData["Title"] = "Eredmények";
}

<h1>Verseny eredmények</h1>

<p>
	<a asp-action="Create">Új eredmény manuális hozzáadása</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.VersenyzoNev)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Egyesulet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ChipKod)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rajtszam)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UszasIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depo1Ido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KerekparIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depo2Ido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FutasIdo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CelIdo)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.VersenyzoNev)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Egyesulet)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ChipKod)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rajtszam)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UszasIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Depo1Ido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.KerekparIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Depo2Ido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FutasIdo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CelIdo)
			</td>
			<td>
				@Html.ActionLink("Részletek", "Details", new { oid = item.OID }) |
				@Html.ActionLink("Köridők", "Index", "Korido", new { oid = item.OID }) |
				@Html.ActionLink("Szerkesztés", "Edit", new { oid = item.OID }) |
				@Html.ActionLink("Törlés", "Delete", new { oid = item.OID })
			</td>
		</tr>
		}
	</tbody>
</table>
