@model IEnumerable<TriatlonLogic.Models.Verseny>

@{
	ViewData["Title"] = "Versenyek";
}

<br>
<h2><i class="bi bi-flag-fill"></i> Versenyek</h2>
<br>
<p>
	<a class="btn btn-primary" asp-action="Create"><i class="bi bi-file-earmark-plus-fill"></i> Új verseny</a>
	<div><b>Versenyek betöltése CSV fájlból: </b></div>
	@using (Html.BeginForm("Index", "Verseny", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="file" id="postedFile" name="postedFile" />
		<input type="submit" title="Upload" value="OK" />

		<div class="col-md-offset-3 col-md-10">
			<br />
			<span style="color:red;">
				@ViewBag.Message
			</span>
		</div>
	}
</p>
<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.OID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nev)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Helyszin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Datum)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UTavolsag)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KTavolsag)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FTavolsag)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.OID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nev)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Helyszin)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Datum)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UTavolsag)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.KTavolsag)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FTavolsag)
			</td>

			<td>
				<i class="bi bi-pencil-square">@Html.ActionLink("Szerkesztés", "Edit", new { oid = item.OID })</i>
				<i class="bi bi-search">@Html.ActionLink("Részletes pályaadatok", "Details", new { oid = item.OID })</i>
				<i class="bi bi-trash">@Html.ActionLink("Törlés", "Delete", new { oid = item.OID })</i>
			</td>
		</tr>
}
	</tbody>
</table>
