@model IEnumerable<TriatlonLogic.Models.Korido>

@{
	ViewData["Title"] = "Köridők";
}

<br />
<h2><i class="bi bi-clock"></i> Köridők</h2>
<hr />
<p>
	<a class="btn btn-primary" href='javascript:history.go(-1)'><i class="bi bi-box-arrow-left"></i> </a>
	<a type="button" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Új köridő</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Szakasz)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KorSzama)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ido)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Szakasz)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.KorSzama)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Ido)
			</td>
			<td>
                <i class="bi bi-pencil-square"> @Html.ActionLink("Szerkesztés", "Edit", new { oid = item.OID })</i> 
                <i class="bi bi-trash"> @Html.ActionLink("Törlés", "Delete", new { oid = item.OID })</i>
			</td>
		</tr>
}
	</tbody>
</table>
