@model IEnumerable<TriatlonLogic.Models.Korido>

@{
	ViewData["Title"] = "Köridők";
}

<br />
<h2><i class="bi bi-clock"></i> Köridők</h2>
<hr />
<p>
	<a class="btn btn-primary" href='javascript:history.go(-1)'><i class="bi bi-box-arrow-left"></i> Vissza</a>
	<a type="button" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Új köridő</a>
	<div><b>Köridők betöltése CSV fájlból: </b></div>
	@using (Html.BeginForm("Index", "Korido", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="file" id="postedFile" name="postedFile" />
		<input type="submit" title="Upload" value="OK" />

		<div class="col-md-offset-3 col-md-10">
			<br />
			<span style="color:red;">
				@ViewBag.Message
			</span>
		</div>
	}
</p>
<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Szakasz)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KorSzama)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ido)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Szakasz)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.KorSzama)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ido)
				</td>
                <td>
                    <a href='@Url.Action("Edit", new { oid = item.OID })'><i class="bi bi-pencil-square"></i></a>
                    <a href='@Url.Action("Delete", new { oid = item.OID })'><i class="bi bi-trash"></i></a>
                </td>
			</tr>
		}
	</tbody>
</table>
<br />
<br />
<br />